* {
    padding: 0;
    margin: 0;
  }
  
body {
  background-color: #1c66a5 !important;
  height: calc(100% - 55px);
}

.main-wrapper {
  min-width: 100%;
}

.form-box {
  max-width: 40em;
  min-height: 15em;
}

.reg-buttons {
  padding: .5rem 1.5rem !important;
}
footer {
    bottom: 0;
    width: 100%;
    font-size: smaller;
}