{% extends 'feeds/base.html' %}
{% block content %}
<div class="mt-5 pt-3 container">
    <!-- Scroller -->
    {% include 'feeds/scroller.html' %}
    <!-- ./Scroller -->
    <div class="row justify-content-around">
        {% for category, value in articles.items %}
            <div class="mb-3 col-12">
                <h4> {{ category|title }} </h4>
                <hr/>
            </div>
            {% for article in value %}
            <div class="mb-4 mb-lg-5 col-12 col-md-6 col-lg-4">
                <div class="card border-0">
                    <img src={{ article.urlToImage }} class="card-img-top rounded" alt="">
                    <div class="px-0 card-body">
                        <p class="text-uppercase card-category"> {{ article.source.name }} </p>
                        <h5 class="card-title"> {{ article.title }}  </h5>
                        <p class="card-text news-card-title"> {{ article.description }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        
    </div>
</div>

{% endblock %}