<div class="pt-2 mb-2 nav-scroller">
    <nav class="nav d-flex align-items-center">
      <a class="mx-1 py-1 px-4 border rounded-pill" id="for-you" href="{% url 'feeds:for_you' 'for-you'%}">For You</a>
      <!-- <a class="mx-1 py-1 px-4 active-topic border rounded-pill " id="covid" href="{% url 'feeds:explore' 'covid'%}">Covid-19</a>-->
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Lifestyle" href="{% url 'feeds:explore' 'Lifestyle'%}">Lifestyle</a> 
      <a class="mx-1 py-1 px-4 border rounded-pill" id="World" href="{% url 'feeds:explore' 'World'%}">World</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="India" href="{% url 'feeds:explore' 'India'%}">India</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="ScienceAndTechnology" href="{% url 'feeds:explore' 'ScienceAndTechnology'%}">Science & Tech</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Business" href="{% url 'feeds:explore' 'Business'%}">Business</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Entertainment" href="{% url 'feeds:explore' 'Entertainment'%}">Entertainment</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Politics" href="{% url 'feeds:explore' 'Politics'%}">Politics</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Sports" href="{% url 'feeds:explore' 'Sports'%}">Sports</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Sports" href="{% url 'feeds:explore' 'Movies'%}">Movies</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Sports" href="{% url 'feeds:explore' 'Anime'%}">Anime</a>
      <a class="mx-1 py-1 px-4 border rounded-pill" id="Sports" href="{% url 'feeds:explore' 'Comics'%}">Comics</a>
    </nav>
  </div>

<!-- scroller js -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let active_tag = document.getElementsByClassName('active-topic')[0];
        let current_tag = document.getElementById("{{tag}}");
        // console.log(active_tag)
        // console.log(current_tag)
        if(active_tag) {
          active_tag.classList.remove('active-topic');
        }
        if(current_tag) {
          current_tag.classList.add('active-topic');
        }
    });
</script>