{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="bFwb-B4qdOSi0VbUA3-tMcqbswC2jbZehCePV_Q4RfQ" />
<link rel="icon" href="{% static 'icons/icon_2.png' %}">

<!-- Primary Meta Tags -->
<title>Singular News - Daily news, top headlines, most relevant news for based on your interests</title>
<meta name="title" content="Singular News - Daily news, top headlines, most relevant news for based on your interests">
<meta name="description" content="We bring all the news that fits in your pocket. Singular News allows you to tailor your own feed. Subscribe, select your genre and source of interest and you are ready to read the customized news.">
<meta name="keywords" content="singular news, news, indian news, daily news, news headlines, top news">
<meta name="author" content="Shivam Yadav, Ansh Lehri">


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Singular News - Daily news, top headlines, most relevant news for based on your interests">
<meta property="og:description" content="We bring all the news that fits in your pocket. Singular News allows you to tailor your own feed. Subscribe, select your genre and source of interest and you are ready to read the customized news.">
<meta property="og:image" content="{% static 'icons/icon_2.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Singular News - Daily news, top headlines, most relevant news for based on your interests">
<meta property="twitter:description" content="We bring all the news that fits in your pocket. Singular News allows you to tailor your own feed. Subscribe, select your genre and source of interest and you are ready to read the customized news.">
<meta property="twitter:image" content="{% static 'icons/icon_2.png' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/master.css' %}" />
<!-- Font Awesome JS -->
<script defer src="https://kit.fontawesome.com/38fc1eaa73.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

