{% extends 'users/base.html' %}
{% block content %}
<div class="my-5 px-md-5 container-lg main-wrapper">
    <div class="mb-5 m-lg-5 row pt-5 text-center">
      <div class="p-md-5 col-12 col-lg-6 text-white">
        <h1>Indus News</h1>
        <p class="lead">A news app powered with machine learning to bring you most relevant news</p>
      </div>
  
      <div class="py-4 px-md-4 col-12 col-lg-6 bg-white border rounded form-box m-auto">
        <div class="col-12 mb-4 text-black">
          <h1>Enter the new Password twice</h1>
        </div>
        <div class="col-12">
          <form method="post">
            {% csrf_token %}
            
                {{ form }}
          </div>
          <br/>
            <div class="col mb-3">
              <input type="submit" class="btn btn-success btn-block" name="Update Password"></input>
            </div>
          </form>
          
        </div>
  
      </div>
    </div>
  </div>

  {% endblock %}